* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Courier New", sans-serif;
    font-size: 24px;
    font-weight: 700;
    background-image: url(img/bg-heesemafia.jpg);
    background-size: cover;
}

.header {
    background-color: #523D30;
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: rgb(6, 6, 6) 0px 5px 24px 0px;
}

.header_navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #523D30;
    display: none;
}

.header_navbar.open {
    display: flex;
    animation: transformMenu 300ms ease-in-out forwards;
}

@keyframes transformMenu {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: initial;
    }
}

.header_title {
    font-weight: 900;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_title a {
    color: white;
    text-align: center;
    display: inline-block;
}

.header_nav_menu_link a {
    margin: 0 20px;
    font-size: 1.2em;
    font-weight: 700;
    position: relative;
}

.header_nav_menu_link a::after {
    content: "";
    height: 3px;
    background-color: white;
    width: 0;
    position: absolute;
    bottom: -5px;
    right: 0;
    transition: .2s all ease-in-out;
}

.header_nav_menu_link a:hover::after {
    width: 100%;
    left: 0;
}

.header_nav_menu_link {
    margin-bottom: 20px;
}

.header_nav_menu_link a {
    color: white;
}

.header_burger {
    display: block;
    cursor: pointer;
}

.header_burger svg {
    stroke: white;
    width: 40px;
    height: 40px;
}

.header_navbar_close {
    display: block;
    cursor: pointer;
}

.header_navbar_close svg {
    stroke: white;
    width: 40px;
    height: 40pxx;
    position: absolute;
    top: 16px;
    right: 16px;
}

.overlay-menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.overlay-menu-mobile.open {
    display: block;
}

.container {
    padding: 140px 40px 0px 40px;
    text-align: justify;
}

@media only screen and (min-width: 520px) {
    .header_title {
        font-size: 1.8em;
    }
}

@media only screen and (min-width: 1120px) {
    .header {
        background-color: #523D30;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
    }

    .header_navbar {
        position: relative;
        width: auto;
        height: auto;
        display: flex;
    }

    .header_nav_menu {
        display: flex;
    }

    .header_nav_menu_link {
        text-align: center;
        margin-bottom: 0;
    }

    .header_nav_menu_link:last-of-type {
        margin-right: initial;
    }

    .header_burger {
        display: none;
    }

    .header_navbar_close {
        display: none;
    }

    .overlay-menu-mobile.open {
        display: none;
    }

    .header_title {
        font-size: 50px;
    }
}